<div id="sidebar-wrapper" ng-hide="custom"  >
        
            <ul class="sidebar-nav" >
                <li class="sidebar-brand">
                    <a ui-sref=".page-home">
                        Sample POC 
                    </a>
                </li>
                <li >
                    <a ui-sref=".page-home">HOME <i class="fa fa-home fa-2x "></i></a>
                </li>
                <li > 
                    <a ui-sref=".news">NEWS <i class="fa fa-newspaper-o fa-2x "></i></a>
                </li>
                <li >
                    <a ui-sref=".blog">BLOG <i class="fa fa-th fa-2x  "></i></a>
                </li>
                <li>
                    <a ui-sref=".faqs">FAQS <i class="fa fa-question fa-2x"></i></a>
                </li>
                <li>
                    <a ui-sref=".contact">CONTACT <i class="fa fa-mobile fa-2x  "></i></a>
                </li>
               
            </ul>

           
        </div>
        
         <!--<a ui-sref="#menu-toggle" class="btn btn-default" id="menu-toggle" style="z-true"></i></a>
index:9999;margin:5px;display:none"><i class="fa fa-list" aria-hidden="true"></i></a>-->
         <a class="btn btn-default angluar-btn" ng-click="custom=!custom" style="z-index:9999;margin:5px;display:none;position:absolute;right:0;"><i class="fa fa-list" aria-hidden="true"></i></a>
        