


        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1> LATEST NEWS</h1>
                        <h2>TTD Bank has embarked on an effort to transform traditional banking data infrastructure into a more modern system built on a new application framework and APIs. This system leverages TD Bank's data to deliver insights on-demand.</h2>
                        <h2>Interest in ride-sharing specialists continues to grow as auto industry giants Toyota and Volkswagen announce strategic partnerships to grow the industry. Uber and Gett, a smaller ride-sharing company, are the beneficiaries of these new investments.
 </h2>
 <h2>TTD Bank has embarked on an effort to transform traditional banking data infrastructure into a more modern system built on a new application framework and APIs. This system leverages TD Bank's data to deliver insights on-demand.</h2>

                        
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

<style>
h2 {font-size:14px;line-height:20px;}
</style>
